.scroll {
    width: 40px;
    height: 40px;
    background-color: #077517;
    border-radius: 50%;
    line-height: 0;
    border: none;
    text-transform: none;
    overflow: visible;
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin-bottom: 25px;
    margin-right: 20px;
    text-align: center;
    opacity: 0.8;
}

.scroll:hover {
    cursor: pointer;
    opacity: 1;
}
