.container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.triangle {
    display: flex;
    flex-direction: column;
    margin: -10px 5px;
    width: 10px;
    font-size: 12px;
    cursor: pointer;
}