.default {
    background-color: #077517;
    border: none;
    color: white;
    padding: 8px 17px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Times New Roman";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px;
}

.default:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.default:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.red {
    background: #b21919;
    border: none;
    color: white;
    padding: 8px 17px;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Times New Roman";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px;
}

.red:hover {
    background-color: #e03131;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}