.main {
    min-height: 130vh;
    /*width: 100%;*/
}

@media screen and (max-width: 660px) {
    .main{
        min-height: 125vh;
    }
}

.appProgress {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}