.default {
    font-family: inherit;
    border: black 1px solid;
    border-radius: 6px;
    font-size: 13px;
    width: 100px;
    margin: 10px;
    display: inline-block;
    background-color: #42b72a;
    cursor: pointer;
}


.default:disabled {
    background-color: #999999;
}
.default:hover {
    background-color: #3e8e41}

.default:hover:disabled {
    background-color: #555555;
}
.red {
    border: black 1px solid;
    border-radius: 6px;
    font-size: 13px;
    width: 100px;
    margin: 10px;
    display: inline-block;
    background-color: #b73c2c;
    cursor: pointer;
}

.red:hover {
    background-color: #b71e0a;
}